<a href="https://colab.research.google.com/github/juliandavidoviedo/Tesis/blob/main/Tesis_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [57]:
# Importación de Librerias 
import pandas as pd 
import numpy as np
import scipy as sp
from scipy.signal import savgol_filter

In [ ]:
data = pd.read_csv('NIRSdata.csv',  encoding= 'unicode_escape',sep=',') 
print(data)
print(data.dtypes)
#print(data.sort_values(by=[Unidad],ascending=[False]))
#y = data['pH'].values.astype(float)
#data = data.drop(columns=['pH'])
#data["Cultivo"].str.split('[.@]', expand=True)
#data["Profundidad"].str.split('[.@]', expand=True)

In [ ]:
# Eliminación de Columnas Inútiles
df= pd.DataFrame(data)
de= df.drop(df.loc[:,'CODIGO DE LA MUESTRA':'OBSERVACIONES'].columns, axis = 1)
de.head()

In [ ]:
#**Conjunto de Entrenamiento**
dtr=de.drop(de.loc[:,'400':'2491'].columns, axis = 1)
dtr.head()

In [ ]:
#**Conjunto de Evaluación**
deval=de.loc[:,'400':'2491']
deval.head()

In [ ]:
data.dropna(axis='columns', how='all')

In [ ]:
dtrain=pd.DataFrame(dtr)
dtrain.head()

In [ ]:
#dtrainl= dtrain.dropna(axis='columns')
#dtrainl
dtrainl= dtrain.dropna(subset=["Clase textural"])
dtrainl.head()
#print("DataFrame after removing rows with NaN value in any column:")
#print(dtrainl)

In [ ]:
dtrainll= dtrain.dropna(subset=["pH"])
dtrainll.head(-1)

In [ ]:
dtrainl1= dtrain.dropna(subset=["Boro (B) disponible"])
dtrainl1.head(-1)

In [45]:
training = dtrain.to_csv('train.csv', encoding= 'utf-8')

In [46]:
evaluating = deval.to_csv('eval.csv', encoding= 'utf-8')

In [47]:
dictionary={'<':'','>':''}
dff=dtrain.replace(dictionary,regex=True, inplace=True)
dftrain= pd.DataFrame(dff)
dftrain.head()

Empty DataFrame
Columns: []
Index: []

In [ ]:
dtrain.drop(['Porcentaje de limo (% L)'], axis=1)

In [ ]:
#deval[203:]
#Posiciones a filtrar, Valores Nulos
deval.loc[203:245]

In [ ]:
# Borrar filas de conjunto de entrenamiento con valores NaN
deval=deval.dropna(how='all')
deval.head(247)

In [ ]:
deval.loc[203:245] # Verificación

In [ ]:
# Métodos para eliminar carácteres <,> y estén vacios, del conjunto de datos 
filtro= deval['400'] != ''
filtrado= deval[filtro]
filtrado.head(245)

In [ ]:
# remove rows using the drop() function
devalf=deval.drop(deval.index[deval['400'] == ''], inplace=True)
evaluation= pd.DataFrame(devalf)
evaluation.head()
# display the dataframe

In [ ]:
#print(deval.index[deval['400'] == ''])
#deval['400']
# remove rows by filtering
deval = deval[deval['400'] != '']
deval = deval[deval['400'] != 'NaN']
deval.head()
# display the dataframe
#print(devalt[243:400])

In [ ]:
dtrain.head(-5)

In [61]:
dtrain=dtrain.drop(dtrain.loc[:,'% humedad gravimetrica':'Sample Identification String One'].columns, axis = 1)

trainlimpio = dtrain.to_csv('trainlimpio.csv', encoding= 'utf-8')

In [ ]:
dtrain.head()